<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .body {
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: rgb(255, 255, 255);
        }
    </style>
</head>

<body class="body">
    <p>Hey {{ name }},</p>
    <p>Please click below to confirm your email</p>
    <p>
        <a href="{{ url }}">Confirm</a>
    </p>

    <p>If you did not request this email you can safely ignore it.</p>
</body>

</html>